# Node
node_modules
dist
.env

# C++
*.o
*.out
*.exe

# CMake
build/
build-core/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# System
.DS_Store
Thumbs.db

# Tess data
tessdata

# Jest coverage
coverage

# VSCode
.vscode/*
!.vscode/tasks.json
